.Dialogue {
  display: flex;
  justify-content: center;
}

.box {
  border: 0.5px solid rgb(194, 194, 194);
  padding: 30px;
  margin: 30px;
  background-color: rgb(235, 245, 252);
  border-radius: 10px;
  box-shadow: 0 0 10px#75e4b9;
}

.Dialogue input:focus {
  outline: none !important;
  border: 2px solid #75e4b9;
  box-shadow: 0 0 10px #75e4b9;
}

.error {
  border: 1px solid red;
}

.errorMsg {
  display: flex;
  align-items: flex-start;
  margin: 0px 0px 0px 5px;
  color: red;
}

.Dialogue button {
  padding: 8px;
  width: 100px;
  font-size: small;
  background-color: #75e4b9;
  font-weight: lighter;
  color: #000000;
  margin: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.Dialogue img {
  width: 72px;
  height: auto;
}

.Dialogue p {
  font-size: small;
}

@media screen and (min-width: 600px) {
  .box {
    padding: 50px;
  }

  .Dialogue img {
    width: 120px;
  }

  .Dialogue button {
    font-size: medium;
    width: 150px;
    font-weight: bold;
  }

  .Dialogue p {
    font-size: medium;
  }
}
