.box {
  height: auto;
  width: 500px;
  border: 0.5px solid rgb(194, 194, 194);
  padding: 30px;
  margin: 30px;
  background-color: rgb(235, 245, 252);
  border-radius: 10px;
  box-shadow: 0 0 10px#75e4b9;
}

label {
  display: flex;
  margin: 15px 0px 10px 5px;
  font-size: larger;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 5px;
}

input:focus {
  outline: none !important;
  border: 2px solid #75e4b9;
  box-shadow: 0 0 10px #75e4b9;
}

.error {
  border: 1px solid red;
}

.errorMsg {
  display: flex;
  align-items: flex-start;
  margin: 0px 0px 0px 5px;
  color: red;
}

.box-flex {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  justify-content: center;
}

.title {
  color: #585858;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

button {
  padding: 8px;
  width: 200px;
  background-color: #75e4b9;
  font-size: medium;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* The alert message box */
.alert {
  background-color: #f7ca00; /* orange */
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;
}

.success-alert {
  background-color: #00ff55; /* green */
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
}

img {
  width: 120px;
  height: auto;
}
